.health__activities{
	background: url(../../imagenes/background-health.png) no-repeat;
	font: 16px;
	color: #FFF;
}
.health__activities * {
	margin: 0;
	padding: 0;
}
.health__activities h2{
	margin-bottom: 1em;
}

/* Caja donde van los botones de click y de reset game */
#picbox {
	margin: 0 auto;
	width: 90%;
}
/* Caja donde van las imagenes */
#boxcard {
	z-index: 1;
	margin: 0 auto;
	width: 640px;
}
#boxcard div{
	float: left;
	width: 100px;
	height: 100px;
	margin: 5px;
	padding: 5px;
	border: 4px solid #892a2e;
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 0 1px 5px rgba(0,0,0,.5);
	background: #ababab;
	z-index: 2;
}
#boxcard div img {
	display: none;
	border-radius: 10px;
	z-index: 3;
}
#boxbuttons {
	text-align: center;
	margin: 20px;
	display: block;
}
#boxbuttons .button {
	text-transform: uppercase;
    background: #892a2e;
	padding: 5px 10px;
	margin: 5px;
	border-radius: 10px;
	cursor: pointer;
}
#boxbuttons .button:hover {
	background: rgba(137, 42, 46, .5);
}
.health__activities .backButton{
	position: absolute;
	bottom: 15px;
	left: 50%;
	margin-left: -92px;
	text-decoration: none;
    background: #892a2e;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2em;
	padding: 5px 10px;
    border-radius: 10px;
}
	.health__activities .backButton:hover{
		background: rgba(137, 42, 46, .5);
	}

.health__success{
	position: absolute;
	width: 450px;
	height: 200px;
	top: 40%;
	margin-top: -75px;
	left: 50%;
	margin-left: -250px;
	z-index: 100;
	background: #e78c8f;
	border: 4px solid #892a2e;
	border-radius: 10px;
	box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
	padding: 25px;
	line-height: 1.2em;
	text-align: center;
}
	.health__success button{
		margin-top: 60px;
		background: #892a2e;
		color: #ffffff;
		font-weight: bold;
		font-size: 1.2em;
		padding: 5px 10px;
		border-radius: 10px;
		border: 0;
	}

.health_activities_intrucciones{
	position: absolute;
	text-align: center;
	width: 450px;
	height: 200px;
	left: 50%;
	margin-left: -250px;
	top: 50%;
	margin-top: -150px;
	z-index: 100;
	background: #e78c8f;
	border: 4px solid #892a2e;
	border-radius: 10px;
	box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
	padding: 25px;
	line-height: 1.2em;
}
	.health_activities_intrucciones button{
		margin-top: 100px;
		background: #892a2e;
		color: #ffffff;
		font-weight: bold;
		font-size: 1.2em;
		padding: 5px 10px;
		border-radius: 10px;
		border: 0;
	}
