/* stylesheet health.html */
.health,
.health__activities{
	background: url(../../imagenes/background.png) no-repeat;
}
.health__list{}
.health__list--item{}
.health__list--item:nth-child(1){
	margin-right: 1em;
}

.health__imgSabiasQContainer{
	width: 100%;
	text-align: center;
}
.health__imgSabiasQ{
	display: inline-block;
}
.health__imgSabiasQ img{
	/*border-radius: 50%;*/
}
.health__imgSabiasQ:nth-child(2) img{
	margin: 0 3em;
}
.health__imgSabiasQ img:hover{
	border: 1px solid red;
	cursor: pointer;
}

/* Health__activities */
