/* styles of menu library impress of index.html */

/* estilos para los slides que no estan activos */
.step {
    position: relative;
    width: 220px;
    height: 768px;
    z-index: 1;
}
.slide {
    position: relative;
    display: block;
    width: 220px;
    height: 768px;
    z-index: 1;
    border: 1px solid red;
}

/* Estilo aplicados a todos los circulos, esten activos o no */
.circle{
    position: absolute;
    border-radius: 50%;
    padding: 65px;
    width: 90px;
    height: 90px;
}
.impress-enabled .step {
    margin: 0;
    padding: 0;
}
/* cuando el slide esta activo */
.impress-enabled .step.active{
    opacity: 1;
    border: none;
    z-index: 2;
}
#overview{
    display: none
}
.impress-on-overview .step {
    opacity: 1;
    cursor: pointer;
}

/*
    *impress.js utiliza las clases .active .future .past para el slide activo, el que paso o el que viene
 */


/* estas clases creo que no las necesitares mas */

/*
.active span{}
.active p{}
.future p{}
.past p{}

*/
