/* styles of index.html */
.index{
	background: #7B7B7B;
}
a{
	text-decoration: none;
    color: #F10B0B;
}

/* id de los menus usados por impress js */
#menu__1{}
#menu__2{}
#menu__3{}


/* imagenes de cada Item del menu*/
.menu__parts{
    background: url(../../imagenes/test.png) no-repeat;
}
.menu__inside{
    background: url(../../imagenes/test.png) no-repeat;
}
.menu__health{
    background: url(../../imagenes/test.png) no-repeat;
}
/* end - imagenes de cada Item del menu */


/* en caso tal que necesite agregar imagenes adicionales a la portada*/
.menu__img1{
	background: url(../../imagenes/600x600.png) no-repeat;
	width: 600px;
	height: 600px;
	position: absolute;
	top: 350px;
	left: 200px;
}
.menu__img2{}
.menu__img3{}