/* stylesheet donde se importan todas las demas stylesheet y se agrega solo esta al head del documento*/
@import url(index.css);
@import url(impress.css);
@import url(parts.css);
@import url(inside.css);
@import url(health.css);
@import url(modalbox.css);
@import url(orientaciones.css);
@import url(parts_activities.css);
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
a{
	text-decoration: none;
}
h2{
	text-align: center;
}
.hidden{
	display: none
}
.no-selec{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
/* Clase de prueba */
.bor{
    border: 1px solid red;
}
/* 
    *
    * La clase ui-dialog-titlebar es nativa de JQuery-UI
    * donde se muestra la barra de titulo donde sale el 
    * boton para cerrar.
    *
    * Se oculta para que no se muestre la X y cerrar la ventana haciendo clicken cualquier parte de la misma
    *
*/
.ui-dialog-titlebar{
  display: none;
}