/* stylesheet orientaciones */
.orientaciones__section{
	position: absolute;
	padding: 0;
	font-size: 1em;
	text-align: justify;
	line-height: 1.6em;
	width: 950px;
	border: 1px solid red;
	margin-top: 10px;
	left: 50%;
	margin-left: -475px;
}