/* stylesheet parts.html */
.parts{
	background: url(../../imagenes/background.png) no-repeat;
}
.parts__list{}
.parts__list--item{}
.parts__list--item:nth-child(2){
	margin: 10px 1em;
}
.parts__section--main{
	text-align: center;
	margin-top: 3em;
}