/* styleshhet div partes del cuerpo humano */
/*estas modificando este - pendiente*/
.parts__section{
	position: absolute;
	padding: 0;
	margin-right: 350px;
	font-size: 1em;
	text-align: justify;
	line-height: 1.6em;
	width: 700px;
	top: 50px;
	left: 380px;
}


.parts__imgSabiasQContainer{
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: -300px;
}
.parts__imgSabiasQ img:hover{
	border: 1px solid red;
	cursor: pointer;
}